<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Simple App</title>
    <link href="app/styles/main.css" rel="stylesheet">
    <link href="common/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form name="signup_form" novalidate ng-submit="signupForm()" ng-controller="signupController">
            <fieldset>
                <legend>Signup</legend>

                <div class="row">
                    <div class="col-md-12">
                        <label>Your Name: </label>
                        <input type="text" placeholder="Name" name="name" ng-model="signup.name" ng-minlength=3 ng-maxlength=30 required ng-focus />
                        <div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.$focused">
                            <small class="error" ng-show="signup_form.name.$error.required">Your name is required</small>
                            <small class="error" ng-show="signup_form.name.$error.minlength">Your name is required to be at least 3 characters</small>
                            <small class="error" ng-show="signup_form.name.$error.maxlength">Your name cannot be longer than 30 characters</small>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Your Email Address: </label>
                        <input type="email" placeholder="Email Address" name="email" ng-model="signup.email" ng-minlength=3 ng-maxlength=50 required />
                        <div class="error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid && !signup_form.$focused">
                            <small class="error" ng-show="signup_form.email.$error.error">Please enter a valid email address</small>
                            <small class="error" ng-show="signup_form.email.$error.required">Your email is required</small>
                            <small class="error" ng-show="signup_form.email.$error.minlength">Your email is required to be at least 3 characters</small>
                            <small class="error" ng-show="signup_form.email.$error.maxlength">Your email cannot be longer than 50 characters</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Username: </label>
                        <input type="text" placeholder="Desired Username" name="username" ng-model="signup.username" ng-minlength=3 ng-maxlength=20 ensure-unique="username" required />
                        <div class="error" ng-show="signup_form.username.$dirty && signup_form.username.$invalid && !signup_form.$focused">
                            <small class="error" ng-show="signup_form.username.$error.unique">That username is taken, Please try another</small>
                            <small class="error" ng-show="signup_form.username.$error.required">Please input a username</small>
                            <small class="error" ng-show="signup_form.username.$error.minlength">Your username is required to be at least 3 characters</small>
                            <small class="error" ng-show="signup_form.username.$error.maxlength">Your username cannot be longer than 20 characters</small>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="button radius" ng-disabled="signup_form$invalid">Submit</button>
            </fieldset>
        </form>
    </div>

<script type="text/javascript" src="common/angular/angular.js"></script>
<script type="text/javascript" src="common/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="common/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="app/scripts/app.js"></script>

</body>
</html>